* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: white;
  padding: 40px;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 220px);
  gap: 40px;
  justify-content: center;
}


.card {
  width: 220px;
  height: 200px;
  background: #9b63b7;
  border-radius: 12px;
  padding: 12px;
  display: flex;
  gap: 10px;
  position: relative;
}


.card span {
  width: 42px;
  height: 42px;
  background: orange;
  border-radius: 6px;
}



.top {
  align-items: flex-start;
}

.left {
  flex-direction: column;
  align-items: flex-start;
}

.top-center {
  justify-content: center;
  align-items: flex-start;
}

.bottom {
  justify-content: flex-start;
  align-items: flex-end;
}

.middle {
  justify-content: center;
  align-items: center;
}
